.container {
    display: flex;
    

  }
  .item {
      padding: 10px 10px 20px 30px;
    background: #f0b8b8;
    flex-basis: 100vh;
    height: 80vh;
    
    margin: 10px;
  }
  .firstlabel{
      margin-right: 110px;
  }